@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

.swal-card {
    background-color: #DDDDDD;
    border: none;
    min-width: 30vw;
    border-radius: 20px;
    margin: auto 32px;
    .swal-card-header {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .swal-card-headerTitle {
            width: 100%;
            padding-left: 10px;
            font-size: 24px;
            margin: 0;
            border-radius: 6px 6px 0 0;
            text-align: center;
        }
        .icon-close {
            cursor: pointer;
            padding: 6px;
        }
    }
    .swal-card-headerNormal {
        border-radius: 6px 6px 0px 0px;
    }

    .swal-card-body {
        width: 90%;
        margin: auto;
    }

    .swal-card-body-loading {
        text-align: center;
        margin: 28px auto;
    }

    .swal-card-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .swal-btn {
            width: 100%;
            border: none;
            padding: 1.5vh;
        }
        .swal-btnLeft {
            background-color: #ED4C5C;
            border-radius: 0px 0px 0px 6px;
        }
        .swal-btnRight {
            background-color: #d3d3d3;
            border-radius: 0px 0px 6px 0px;
        }
    }
}

.show-popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    animation-duration: 0.5s;
    animation-name: popupBG;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    .text-wrapper {
        width: 100%;
        max-width: 600px;
        border-radius: 8px;
        animation-duration: 0.3s;
        animation-name: popupCard;
    }
    // .text-wrapper-lg{
    //     width: 100%;
    //     max-width: 900px;
    //     border-radius: 8px;
    //     animation-duration: 0.3s;
    //     animation-name: popupCard;
    //     margin-top: -50px;
    // }
    .top-side {
        border-radius: 8px 8px 0px 0px;
        background-color: #FBC011;
    }
    .top-side-reject {
        border-radius: 8px 8px 0px 0px;
        background-color: #ED4C5C;
    }
    // .bot-side {
    //     background-color: #151933;
    // }
}

.hide-popup {
    display: none;
}

@keyframes popupCard {
    from {transform: translateY(-50px); opacity: 0;}
    to {transform: translateY(0px); opacity: 1;}
}
@keyframes popupCardBounce {
    0% {transform: translateY(0px); opacity: 0;}
    20% {transform: translateY(-50px);}
    40% {transform: translateY(10px); opacity: 1;}
    60% {transform: translateY(-10px);}
    90% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
}
@keyframes popupBG {
    from {background: #00000000;}
    to {background: #00000080;}
}

// SWAL LOADING
.loaderSwal {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.loaderSwal-1 {
    .loader-outterSwal {
        position: absolute;
        border: 4px solid #ED4C5C;
        border-left-color: transparent;
        border-bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-animation: loaderSwal-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
        animation: loaderSwal-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }
    .loader-innerSwal {
        position: absolute;
        border: 4px solid #ED4C5C;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        left: calc(50% - 20px);
        top: calc(50% - 20px);
        border-right: 0;
        border-top-color: transparent;
        -webkit-animation: loaderSwal-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
        animation: loaderSwal-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }
}

@-webkit-keyframes loaderSwal-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loaderSwal-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loaderSwal-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@keyframes loaderSwal-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
// END SWAL LOADING